<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="StudentsDB" 
			 connectionString = "Data Source=DESKTOP-H5BDIRT\SQLEXPRESS;Initial Catalog=StudentsDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>